@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#body {
    font-family: 'Roboto', sans-serif;
}
#header{
    position: relative;
    height: 85%;
    top: 0%;
    margin-left: 111px;
    padding-left: 308px;
background-color: #aace9b;
}

aside {
    position: absolute;
    display: inline-block;
    width: 308px;
    height: 7500px;
    top: 0;
    left: 0;
    background-color: #ededed; 
}




#footer {
    
    position: relative;
    height: 580px;
    background-image: url(img/footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
